/**
 * Created by Zetta on 2016/7/3.
 */

body{
	font-family: Microsoft Yahei;
	background: url(../res/bg.jpg) no-repeat center top;
}

#title{
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: 16rem;
	font-size: xx-large;
}

#userinfo{
	text-align: center;
	padding-top: 4rem;
	font-weight: bold;
}

#nav{
	background-color: #00acc1;
	border-radius: 6px;
	padding-left: 2rem;
}
#nav .item{
	background-color: #00acc1;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}
#nav .item a{
	color: #e0f7fa;
}
#nav .selecteditem{
	background-color: #00acc1;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}
#nav .selecteditem a{
	color: #006064;
}

#userinfo{
	text-align: center;
	padding-top: 4rem;
	font-weight: bold;
}

#maincontainerL{
	background-color: rgba(255,255,255,0.8);
	background-size: contain;
	min-height: 36rem;
	margin-top: 2rem;
	padding: 1.5rem;
	border-radius: 8px;
    text-align: center;
}
#maincontainerR{
	background-color: rgba(255,255,255,0.8);
	background-size: contain;
	min-height: 36rem;
	margin-top: 2rem;
	padding: 1.5rem;
	border-radius: 8px;
}