<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>在线协同教学系统-管理员</title>
	<script src="../../static/jscss/jquery-2.1.4.min.js"></script>
	<script src="../../static/jscss/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../static/jscss/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/jscss/style.css">
	<script src="../../static/jscss/my.js"></script>
	<script>
		$(document).ready(adminReady);
		function look(){
			//获得课程列表
			$('#coursedetail').empty();
			document.getElementById('createcourse').style.display = 'none';
			document.getElementById('lookcourse').style.display = 'block';
			var courselist = $('#courselist');
			var url = '/CoPlat/admin_courselist_response/';
			$.post(url).success(function(data){
				var json = data;
				var str = '';
				var length = json.courses.length;
				for(var i = 0 ; i < length ; i++){
					str = str + '<tr><td>' + '<button class="btn btn-link" onclick="displayCourseDetail(\'' + json.courses[i].CourseId + '\')">' + json.courses[i].CourseName + '</button>' +'</td></tr>';
				}
				courselist.empty();
				courselist.append(str);
			});
		}
		function create(){
			document.getElementById('lookcourse').style.display = 'none';
			document.getElementById('createcourse').style.display = 'block';
		}
		function createCourse(){
			//建立新课程
			var cn = $('#cname');
			var cname = cn.val();
			var cc = $('#ccredit');
			var ccredit = cc.val();
			var cw = $('#cweeks');
			var cweeks = cw.val();
			var csd = $('#csdate');
			var csdate = csd.val();
			var ced = $('#cedate');
			var cedate= ced.val();
			if(cname == '' || ccredit == '' || cweeks == '' || csdate == '' || cedate == ''){
				alert('请填写完整相关信息！');
				return;
			}
			if(!checkDate(csdate, cedate, cweeks)){
				alert('相关信息填写有误(起始日期与周数矛盾)，请检查！');
				return;
			}
			var url = '/CoPlat/create_new_course/';
			$.post(url, {Name: cname, Credit: ccredit, Weeks: cweeks, StartDate : csdate, EndDate: cedate}).success(function(data){
				var json = data;
				if(json['Status'] == 'Success'){
					alert('课程添加成功!');
				}
				else if(json['Status'] == 'Fail'){
					alert('课程添加失败!请检查相关信息填写是否正确或稍候再试。');
				}
			});
			cn.val('');
			cc.val('');
			cw.val('');
			csd.val('');
			ced.val('');
		}
		function displayCourseDetail(courseid){
			//显示课程详细信息
			var url = '/CoPlat/get_course_details/';
			var cd = $('#coursedetail');
			$.post(url, {CourseId: courseid}).success(function(data){
				var json = data;
				var coursename = json['CourseName'];
				var credit = json['Credit'];
				var weeks = json['Weeks'];
				var str = '';
				str = str + '<tr><td>' + '<span style="font-weight: bold;">课程名称：</span>' + coursename + '</td></tr>';
				str = str + '<tr><td>' + '<span style="font-weight: bold;">任课教师：</span>' + '</td></tr>';
				var length = json.Teacher.length;
				for(var i = 0 ; i < length ; i++){
					str = str + '<tr><td style="text-indent: 2rem">' + json.Teacher[i].TeacherId + ' ' + json.Teacher[i].TeacherName + '</td></tr>';
				}
				str = str + '<tr><td>' + '<div class="form-group" style="margin: 0">' +
										 	'<div class="input-group">' +
												'<input class="form-control" id="addteacherid" type="text" placeholder="输入教师ID">' +
												'<div class="input-group-addon"><button class="btn btn-default btn-xs" onclick="addTeacher(\'' + courseid + '\')">添加教师</button></div>' +
											'</div>' +
										'</div>' +
							'</td></tr>';
				str = str + '<tr><td>' + '<span style="font-weight: bold;">课程学分：</span>' + credit + '</td></tr>';
				str = str + '<tr><td>' + '<span style="font-weight: bold;">课程周数：</span>' + weeks + '</td></tr>';
				str = str + '<tr><td>' +
									'<div class="form-group" style="margin: 0">' +
										'<label>输入要添加的学生ID</label>' +
										'<div class="input-group">' +
											'<input class="form-control" id="addstudentid" type="text" placeholder="输入学生ID">' +
											'<div class="input-group-addon"><button class="btn btn-default btn-xs" onclick="addStudent(\'' + courseid + '\')">添加学生</button></div>' +
										'</div>' +
									'</div>' +
						'</td></tr>';
				str = str + '<tr><td>' + '<button class="btn btn-link" onclick="closeCourse(\'' + courseid + '\')">关闭课程</button>' + '</td></tr>';
				cd.empty();
				cd.append(str);
			});
		}
		function addStudent(courseid) {
			//向某课程添加学生
			var asi = $('#addstudentid');
			var studentid = asi.val();
			if (studentid == '') {
				alert('请输入学生ID！');
				return;
			}
			var url = '/CoPlat/allocate_students_to_course/';
			$.post(url, {CourseId: courseid, StudentId: studentid}).success(function (data) {
				var json = data;
				if (json['Status'] == 'Success') {
					alert('添加成功！')
				}
				else if (json['Status'] == 'Fail') {
					alert('添加失败！')
				}
				else if (json['Status'] == 'Repeat') {
					alert('学生不存在或者重复添加！')
				}
			});
			asi.val('');
		}
		function addTeacher(courseid){
			//向某课程添加教师
			var ati = $('#addteacherid');
			var teacherid = ati.val();
			if(teacherid == ''){
				alert('请输入教师ID！');
				return;
			}
			var url = '/CoPlat/allocate_teachers_to_course/';
			$.post(url, {CourseId : courseid, TeacherId : teacherid}).success(function(data){
				var json = data;
				if(json['Status'] == 'Success'){
					alert('添加成功！')
				}
				else if(json['Status'] == 'Fail'){
					alert('添加失败！')
				}
				else if(json['Status'] == 'Repeat'){
					alert('教师不存在或者重复添加！')
				}
			});
			ati.val('');
		}
		function closeCourse(courseid){
			//关闭课程
			var url = '';
			$.post(url, {CourseId : courseid}).success(function(data){
				var json = eval('(' + data + ')');
				if(json['Status'] == 'Success'){
					alert('课程已成功关闭！')
				}
				else if(json['Status'] == 'Fail'){
					alert('课程关闭失败！')
				}
			});
		}
	</script>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<div id="title">
				在线协同教学系统-<span style="color: red;font-weight: bold">管理员</span>
			</div>
		</div>
		<div class="col-md-5">
			<div id="userinfo">

			</div>
		</div>
	</div>
	<div id="nav">
		<div class="row">
			<div class="col-md-2">
				<div class="item">
					<a href="/CoPlat/adminSemester_load/" target="_self">学期管理</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="selecteditem">
					<a href="/CoPlat/adminCourse_load/" target="_self">课程管理</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="item">
					<a href="" target="_self">用户信息管理(暂不可用)</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div id="maincontainerL">
				<div class="form-group">
					<button class="btn btn-default" onclick="look()">管理已有课程</button>
				</div>
				<div class="form-group">
					<button class="btn btn-default" onclick="create()">建立新课程</button>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div id="maincontainerR">
				<div id="lookcourse" style="display: none">
					<div class="row">
						<div class="col-md-2">
							<div id="courselistcontainer">
								<table class="table table-condensed">
									<thead><tr><td></td></tr></thead>
									<tbody id="courselist" style="text-align: center">

									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-4">
							<div id="coursedetailcontainer">
								<table class="table">
									<thead><tr><td></td></tr></thead>
									<tbody id="coursedetail">

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div id="createcourse" style="display: none">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">课程名称</div>
									<input class="form-control" id="cname" type="text" >
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">课程学分</div>
									<input class="form-control" id="ccredit" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">开始日期</div>
									<input class="form-control" type="date" id="csdate">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">结束日期</div>
									<input class="form-control" type="date" id="cedate">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">课程周数</div>
									<input class="form-control" id="cweeks" type="text">
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-default" onclick="createCourse()">提交</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>