<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>在线协同教学系统</title>
	<script src="../../static/jscss/jquery-2.1.4.min.js"></script>
	<script src="../../static/jscss/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../static/jscss/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/jscss/style.css">
	<script src="../../static/jscss/my.js"></script>
	<script>
		$(document).ready(teacherReady);
		window.onload = function(){
			var text = window.opener.document.getElementById('courseid').innerHTML;
			alert(text);
		};
	</script>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<div id="title">
				在线协同教学系统
			</div>
		</div>
		<div class="col-md-5">
			<div id="userinfo">

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="maincontainer">

			</div>
		</div>
	</div>
</div>

</body>
</html>