<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>在线协同教学系统</title>
	<script src="../../static/jscss/jquery-2.1.4.min.js"></script>
	<script src="../../static/jscss/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../static/jscss/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/jscss/style.css">
	<script src="../../static/jscss/my.js"></script>
	<script>
		$(document).ready(teacherReady);
		window.onload = function(){
			var courseid = getValue(location.search);
			document.getElementById('tabletitle').innerHTML = '<h4>课程' + courseid + '学生名单</h4>';
			var sl = $('#studentlist');
			var url = '/CoPlat/course_studentlist_response/';
			$.post(url, {CourseId: courseid}).success(function(data){
				var json = data;
				var length = json.Students.length;
				var str = '';
				for(var i = 0 ; i < length ; i++){
					str = str + '<tr><td>' + json.Students[i].StudentId + '</td><td>' + json.Students[i].StudentName + '</td></tr>';
				}
				sl.empty();
				sl.append(str);
			});
		};
	</script>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<div id="title">
				在线协同教学系统
			</div>
		</div>
		<div class="col-md-5">
			<div id="userinfo">

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="maincontainer">
				<div class="row">
					<div class="col-md-offset-4 col-md-4">
						<div class="form-group" style="text-align: center">
							<div id="tabletitle"></div>
						</div>
						<table class="table">
							<thead>
							<tr>
								<th style="text-align: center">学生ID</th>
								<th style="text-align: center">学生姓名</th>
							</tr>
							</thead>
							<tbody id="studentlist" style="text-align: center">

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>