{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>在线协同教学系统</title>
	<script src="{% static 'jscss/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'jscss/bootstrap.min.js' %}"></script>
	<script src="{% static 'jscss/my.js' %}"></script>
	<link rel="stylesheet" href="{% static 'jscss/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'jscss/style.css' %}">
	<script>
    // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
 var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
    function login(){
        $.post('set_coursework_info/', {Studentid : "11110011", Courseworkno : "000202"}).success(function(data){
        var json = eval('(' + data + ')');
        if(json['Status'] == 'Success'){
            window.location.href = "file_download_response/";
        }
        else {
            alert('Load Failure!');
        }
       }
      )
                         
    }
	</script>
	<style>
		#login-container{
			margin-left: 12rem;
			margin-right: 12rem;
			margin-bottom: 4rem;
			border-radius: 16px;
			background-color: rgba(255,255,255,0.75);
			background-size: cover;
		}
		#login-container #login{
			padding-top: 16%;
			padding-bottom: 20%;
			padding-left: 4rem;
			padding-right: 2rem;
		}
		#loginimage{
			max-height: 40rem;
			border-radius: 16px;
		}
	</style>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<div id="title">
				在线协同教学系统
			</div>
		</div>
	</div>
</div>
<div id="login-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7" style="text-align: left;padding-left: 0">
				<img id="loginimage" src="{% static 'res/plane.jpg' %}">
			</div>
			<div class="col-md-5">
				<div id="login">
            Welcome!
					  <button class="btn btn-default" onclick = "login()" >登录</button>
				</div>
      </div>
		</div>
	</div>
</div>
</body>
</html>
