{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>      
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/Highcharts/js/highcharts.js' %}"></script>
    <script>
     function displayBook(){
			var url = '/coursead/loginfunc/';//服务器端资源地址
      $.post(url, {Id:'11120000', Password:'123456', Identity:'student'}, function(data){
        
     var json = eval('(' + data + ')');
     window.alert(json['Status']);
		    <!-- var str = ''; -->
				<!-- var display = $('#display'); -->
				<!-- display.empty(); -->
				<!-- for (var i = 0 ; i < json.books.length ; i++){ -->
				<!-- 	str = '<tr>'; -->
				<!-- 	str = str + '<td>' + json.books[i].Id + '</td>'; -->
				<!-- 	str = str + '<td>' + json.books[i].Name + '</td>'; -->
				<!-- 	str = str + '<td>' + json.books[i].Subject + '</td>'; -->
				<!--   str = str + '<td>' + json.books[i].BookConcern + '</td>'; -->
				<!-- 	str = str + '<td>' + json.books[i].Price + '</td>'; -->
				<!-- 	str = str + '</tr>'; -->
				<!-- 	display.append(str); -->
				<!--   }                   -->
			});
		}
    </script>
</head>
<body>
  <table>
	<thead>
	<tr align="center" bgcolor="#e3F4F7">
		<th width="13%" bgcolor="#F9D16B">图书编号</th>
		<th width="26%" bgcolor="#F9D16B">图书名称</th>
		<th width="15%" bgcolor="#F9D16B">图书类型</th>
		<th width="14%" bgcolor="#F9D16B">出版社</th>
		<th width="12%" bgcolor="#F9D16B">价格</th>
		<th width="9%" bgcolor="#F9D16B">修改</th>
		<th width="5%" bgcolor="#F9D16B">删除</th>
	</tr>
	</thead>
	<tbody id="display">

	</tbody>
</table>
<button onclick="displayBook()">CLICK</button>

</body>
</html>
