<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>在线协同教学系统</title>
	<script src="../../static/jscss/jquery-2.1.4.min.js"></script>
	<script src="../../static/jscss/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../static/jscss/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/jscss/style.css">
	<script src="../../static/jscss/my.js"></script>
	<script>
		$(document).ready(studentReady);
		window.onload = function(){
			//获取该学生的课程列表
			var cl = $('#courselist');
			var studentid = getCookie('studentid');
			var url = '/CoPlat/student_courselist_response/';
			$.post(url, {StudentId: studentid}).success(function(data){
				var json = eval('(' + data + ')');
				var str = '';
				var length = json.courses.length;
				for(var i = 0 ; i < length ; i++){
					str = str + '<tr>' + '<td>' + '<button class="btn btn-link" style="padding: 0" onclick="displayCourseDetail(\'' + json.courses[i].CourseId + '\')">' + json.courses[i].CourseName + '</button>' + '</td>' +'</tr>';
				}
				cl.empty();
				cl.append(str);
			});
		};
//		function displayCourseList(){
//			//获取该学生的课程列表
//			var dc = $('#displaycourse');
//			var studentid = getCookie('studentid');
//			var url = 'http://127.0.0.1/DemoWebApp/tpcourselist.php';
//			$.post(url, {StudentId: studentid}).success(function(data){
//				var json = eval('(' + data + ')');
//				var str = '';
//				var length = json.courses.length;
//				for(var i = 0 ; i < length ; i++){
//					str = str + '<li>' + '<button class="btn btn-link" style="padding: 0" onclick="displayCourseDetail(\'' + json.courses[i].CourseId + '\')">' + json.courses[i].CourseName + '</button>' +'</li>';
//				}
//				dc.empty();
//				dc.append(str);
//			});
//		}
		function displayCourseDetail(courseid){
			//显示课程详细信息
			document.getElementById('displayresource').style.display = 'none';
			document.getElementById('resourcetype').selectedIndex = 0;
			$('#resourcelist').empty();
			document.getElementById('displayhomeworklist').style.display = 'none';
			document.getElementById('displayhomeworkdetail').style.display = 'none';
			document.getElementById('displaycoursedetail').style.display = 'block';
			document.getElementById('displaycourseid').style.display = 'block';
			document.getElementById('courseid').innerHTML = courseid;
			var url = '/CoPlat/get_studentCourse_information/';
			var cd = $('#coursedetail');
			$.post(url, {CourseId: courseid}).success(function(data){
				var json = data;
				var coursename = json['CourseName'];
				var credit = json['Credit'];
				var weeks = json['Weeks'];
				var str = '';
				str = str + '<tr><td>' + '课程名称：' + coursename + '</td></tr>';
				str = str + '<tr><td>' + '任课教师：' + '</td></tr>';
				var length = json.Teacher.length;
				for(var i = 0 ; i < length ; i++){
					str = str + '<tr><td><div style="margin-left: 1rem">' + json.Teacher[i].TeacherId + ' ' + json.Teacher[i].TeacherName + '</div></td></tr>';
				}
				str = str + '<tr><td>' + '课程学分：' + credit + '</td></tr>';
				str = str + '<tr><td>' + '课程周数：' + weeks + '</td></tr>';
				str = str + '<tr><td>' + '<button class="btn btn-info" onclick="displayResource()">' + '下载资源</button>' + '</td></tr>';
				str = str + '<tr><td>' + '<button class="btn btn-info" onclick="studentHomework()">' + '管理作业</button>' + '</td></tr>';
				cd.empty();
				cd.append(str);
			});
		}
		function displayResource(){
			document.getElementById('displayresource').style.display = 'block';
		}
		function displayResourceList(){
			//获取资源列表
			var si = document.getElementById('resourcetype').selectedIndex;
			var type = document.getElementById('resourcetype').options[si].value;
			if(si == 0){
				return;
			}
			var courseid = document.getElementById('courseid').innerHTML;
			var sl = $('#resourcelist');
			var str = '';
			var url = '/CoPlat/resourcelist_load_response/';
			$.post(url, {CourseId: courseid, Type: type}).success(function(data){
				var json = eval('(' + data + ')');
				var length = json.Resource.length;
				for(var i = 0 ; i < length ; i++){
					str = str + '<li>' + '<a href="' + json.Resource[i].ResourcePath + '" id="' + json.Resource[i].ResourceId + '\')">' + json.Resource[i].ResourceDes + '</a>' + '</li>';
				}
				sl.empty();
				sl.append(str);
			});
		}
		function studentHomework(){
			//获取该门课程的作业列表
			document.getElementById('displayresource').style.display = 'none';
			document.getElementById('resourcetype').selectedIndex = 0;
			$('#resourcelist').empty();
			document.getElementById('displaycoursedetail').style.display = 'none';
			document.getElementById('displayhomeworkdetail').display = 'none';
			document.getElementById('displayhomeworklist').style.display = 'block';
			var courseid = document.getElementById('courseid').innerHTML;
			var studentid = getCookie('studentid');
			var hl = $('#homeworklist');
			var url = '/CoPlat/courseworklist_response/';
			$.post(url,{CourseId: courseid, StudentId: studentid}).success(function(data){
				var json = eval('(' + data + ')');
				var str = '<tr><td style="text-align: center"><p>作业列表</p></td></tr>';
				var length = getJsonLength(json);
				for(var i = 0 ; i < length ; i++){
					str = str + '<tr><td>' + '<button class="btn btn-link btn-xs" onclick="homeworkDetail(\'' + json[i] + '\')">' + json[i] + '</button>' + '</td></tr>';
				}
				hl.empty();
				hl.append(str);
			});
		}
		function homeworkDetail(homeworkid){
			//获取作业详情
			document.getElementById('filetype').selectedIndex = 0;
			$('#uploadhomework').val('');
			$('#texthomeworkcontent').val('');
			document.getElementById('uploadstatus').innerHTML = '';
			document.getElementById('displayhomeworkdetail').style.display = 'block';
			document.getElementById('homeworkid').innerHTML = homeworkid;
      var studentid = getCookie('studentid');
			var hc = $('#homeworkcontent');
			hc.empty();
			var str = '';
			                      var url = '/CoPlat/get_workInformation/';
      $.post(url, {StudentId:studentid, HomeworkId:homeworkid}).success(function(data){
      var json = eval('(' + data + ')');
      document.getElementById('hdescription').innerHTML = '作业描述：' + json['Description'];
      if(json['HomeworkType'] == 'Person'){
         document.getElementById('homeworktype').innerHTML = '作业类型：' + '个人作业';
      }
      else if(json['HomeworkType'] == 'Team'){
         document.getElementById('homeworktype').innerHTML = '作业类型：' + '团队作业';
      }
      document.getElementById('hstarttime').innerHTML = '开始时间：' + json['StartTime'];
      document.getElementById('hendtime').innerHTML = '结束时间：' + json['EndTime'];
      if(json['TextHomework'] == '' && json['FileHomeworkPath'] == ''){
         document.getElementById('submitstatus').innerHTML = '还未提交过作业';
      }
      if(json['Score'] != ''){
         str = str + '<li>作业评分：' + json['Score'] != '' + '</li>'
      }
      if(json['Comment'] != ''){
         str = str + '<li>作业评价：' + json['Comment'] != '' + '</li>'
      }
      if(json['TextHomework'] != ''){
         document.getElementById('submitstatus').innerHTML = '已提交过作业';
         str = str + '<li>' + '已提交的作业文本:<br><p>' + json['TextHomework'] + '</p ></li>';
      }
      if(json['FileHomeworkPath'] != ''){
         document.getElementById('submitstatus').innerHTML = '已提交过作业';
         str = str + '<li>' + '<a href="' + json['FileHomeworkPath'] + '">点此下载提交过的文件</a >' + '</li>';
      }
      hc.append(str);
   });
	}
		function uploadFile(){
			var si = document.getElementById('filetype').selectedIndex;
			var filetype = document.getElementById('filetype').options[si].value;
			var uh = document.getElementById('uploadhomework');
			var fileObj = uh.files[0];
			var thc = $('#texthomeworkcontent');
			var texthomeworkcontent = thc.val();
			if(fileObj == undefined && texthomeworkcontent == ''){
				alert('请输入作业或选择文件！');
				return;
			}
			var fileController = '/CoPlat/coursework_upload_response/';
			var homeworkid = document.getElementById('homeworkid').innerHTML;
			var studentid = getCookie('studentid');
			var form = new FormData();

			if(fileObj != undefined){
				if(!checkFileType(filetype, getFileFormat(fileObj.name))){
					alert('文件格式不符，请重新选择！');
					return;
				}
				var filename = fileObj.name;
				form.append("FileName", filename);
				form.append("File", fileObj);
				form.append("Type", filetype);
			}
			form.append("HomeworkId", homeworkid);
			form.append("StudentId", studentid);
			form.append("TextHomework", texthomeworkcontent);


			form.enctype = 'multipart/form-data';

			var xhr = new XMLHttpRequest();
			xhr.open("post", fileController, true);
			xhr.onreadystatechange = function () {
				if(xhr.readyState == 4 && xhr.status == 200){
					var data = eval('(' + xhr.responseText + ')');
					var json = eval('(' + data + ')');
					if(json['Status'] == 'Success'){
						document.getElementById('uploadstatus').innerHTML = '<span style="color: green">作业提交成功！</span>';
					}
					else if(json['Status'] == 'Repeat'){
						document.getElementById('uploadstatus').innerHTML = '<span style="color: red">上传失败！文件已存在。</span>';
					}
					else if(json['Status'] == 'Fail'){
						document.getElementById('uploadstatus').innerHTML = '<span style="color: red">作业提交失败。</span>';
					}
				}
			};
			xhr.send(form);
		}

	</script>
	<style>

	</style>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<div id="title">
				在线协同教学系统
			</div>
		</div>
		<div class="col-md-5">
			<div id="userinfo">

			</div>
		</div>
	</div>
	<div id="nav">
		<div class="row">
			<div class="col-md-2">
				<div class="selecteditem">
					<a href="" target="_self">查看课程</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="item">
					<a href="" target="_self">组建队伍(暂不可用)</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="item">
					<a href="/CoPlat/studentInformation_load/" target="_self">管理个人信息</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div id="maincontainerL">
				<table class="table">
					<thead>
					<tr>
						<th style="text-align: center">
							<div style="padding: 0.5rem">当前课程列表</div>
							<!--<button class="btn btn-default" onclick="displayCourseList()">查看课程</button>-->
						</th>
					</tr>
					</thead>
					<tbody id="courselist">

					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-10">
			<div id="maincontainerR">
				<div class="row">
					<div class="col-md-3" >
						<div id="displaycoursedetail" style="display: none">
							<table class="table table-condensed">
								<thead>
								<tr>
									<th>
										<div id="displaycourseid" style="display: none">
											<label>当前课程ID：</label>
											<label id="courseid"></label>
										</div>
									</th>
								</tr>
								</thead>
								<tbody id="coursedetail">

								</tbody>
							</table>
						</div>
						<div id="displayhomeworklist" style="display: none">
							<table>
								<thead>
								<tr>
									<th>

									</th>
								</tr>
								</thead>
								<tbody id="homeworklist">
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-4">
						<div id="displayresource" style="display: none">
							<label for="resourcetype">选择要下载的资源类型：</label>
							<select id="resourcetype" class="form-control" onchange="displayResourceList()">
								<option>请选择</option>
								<option value="handouts">课件[.ppt/.pptx/.pdf]</option>
								<option value="documentation">文档[.doc/.docx/.pdf]</option>
								<option value="vedio">视频[.mp4]</option>
								<option value="uncategoried">其他文件</option>
							</select>
							<p>请在资源链接上单击鼠标右键“链接另存为”以下载资源。</p>
							<ul id="resourcelist"></ul>
						</div>
						<div id="displayhomeworkdetail" style="display: none">
							<label>当前作业ID：</label>
							<label id="homeworkid"></label>
							<ul id="homeworkdetail">
								<li id="hdescription"></li>
								<li id="hstarttime"></li>
								<li id="hendtime"></li>
								<li id="submitstatus"></li>
							</ul>
							<ul id="homeworkcontent">

							</ul>
							<div class="form-group">
								<div class="form-group">
									<p>提交作业：</p>
									<label for="texthomeworkcontent">要提交的作业文本：</label>
									<textarea class="form-control" rows="3" id="texthomeworkcontent"></textarea>
									<label for="filetype">选择要上传的文件类型：</label>
									<select id="filetype" class="form-control">
										<option value="documentation">文档[.doc/.docx/.pdf]</option>
										<option value="uncategoried">其他文件</option>
									</select>
								</div>
								<input type="file" id="uploadhomework">
								<p id="uploadstatus"></p>
							</div>
							<button class="btn btn-default" onclick="uploadFile()">提交</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
