{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文件上传测试</title>
	<script src="{% static 'jscss/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'jscss/bootstrap.min.js' %}"></script>
	<script src="{% static 'jscss/my.js' %}"></script>
	<link rel="stylesheet" href="{% static 'jscss/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'jscss/style.css' %}">
	<script>
		function uploadFile(){
			var si = document.getElementById('filetype').selectedIndex;
			var filetype = document.getElementById('filetype').options[si].value;
			var fileObj = document.getElementById('uploadsource').files[0];
			if(!checkFileType(filetype, getFileFormat(fileObj.name))){
        alert('文件格式不符，请重新选择！');
				return;
			}

			var fileController = '/CoPlat/resource_upload_response/';

			//var courseid = document.getElementById('courseid').innerHTML;

		var form = new FormData();
			//form.append("CourseId", courseid);
			form.append("Type", filetype);
			form.append("File", fileObj);
      form.enctype = "multipart/data-form";

			var xhr = new XMLHttpRequest();
			xhr.open("post", fileController, true);
			xhr.onreadystatechange = function () {
				if(xhr.readyState == 4 && xhr.status == 200){
		var data = eval('(' + xhr.responseText + ')');
    var json = eval('(' + data + ')');
    
		if(json['Status'] == 'Fail'){
		document.getElementById('uploadstatus').innerHTML = '<span style="color: green">文件上传失败！</span>';
					}
		else{
    document.getElementById('uploadstatus').innerHTML = '<span style="color: green">文件上传成功！</span>';
						
					}
				}
			};
			xhr.send(form);

		}
	</script>
</head>
<body>
<div id="deliverysource" style="display: block;padding: 10rem">
	<div class="form-group">
		<div class="form-group">
			<label for="filetype">选择要上传的文件类型：</label>
			<select id="filetype">
				<option value="handouts">课件[.ppt/.pptx/.pdf]</option>
				<option value="documentation">文档[.doc/.docx/.pdf]</option>
				<option value="vedio">视频[.mp4]</option>
				<option value="uncategoried">其他文件</option>
			</select>
		</div>
		<input type="file" id="uploadsource">
		<p id="uploadstatus"></p>
	</div>
	<button class="btn btn-default" onclick="uploadFile()">提交</button>
</div>
</body>
</html>
